
/* Basic Str */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5EFE6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container {
    background: white;
    border-radius: 1rem;
    box-shadow:0 10px 30px #eea352;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.screen {
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active {
    display: block;
}

#start-screen h1 {
    color: #ed912e;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#start-screen p {
    color: #666666;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.quiz-header {
    margin-bottom: 1rem;
}

#questions-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}


.quiz-info {
    display: flex;
    justify-content: space-around;
    color: #666666;
    margin-bottom: 10px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}


.progress-bar {
    height: 10px;
    background-color: #d5d2ce;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress { 
    height: 100%;
    background-color: #ed912e;
    width: 0;
    transition: width 0.3s ease-in-out;
 }


 /* Result Screen */

 #result-screen h1 {
    color: #ed912e;
    margin-bottom: 20px;
 }

.result-info {
    background-color: #F8F0E5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#result-message {
    font-size: 1.5rem;
    color: #f08513;
    font-weight: 600;   
}

button {
    background-color: #f0a04a;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
